<div class="container-fluid nav-bar bg-transparent">
  <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
    <a href="<%= home_path %>" class="navbar-brand d-flex align-items-center text-center">
      <div class="icon p-2 me-2">
        <img class="img-fluid" src="<%= asset_path "icon-deal.png" %>" alt="Icon" style="width: 30px; height: 30px;">
      </div>
      <h1 class="m-0 text-primary">Makaan</h1>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto">
        <a href="<%= home_path %>" class="nav-item nav-link <%= current_page?(home_path) ? "active" : "" %>">Home</a>
        <a href="<%= about_path %>" class="nav-item nav-link <%= current_page?(about_path) ? "active" : "" %>">About</a>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle <%= [properties_path, property_types_path, our_agents_path, add_property_path].any? { |p| current_page?(p) } ? "active" : "" %>" data-bs-toggle="dropdown">Property</a>
          <div class="dropdown-menu rounded-0 m-0">
            <a href="<%= add_property_path %>" class="dropdown-item <%= current_page?(add_property_path) ? "active" : "" %>">Add Property</a>
            <a href="<%= properties_path %>" class="dropdown-item <%= current_page?(properties_path) ? "active" : "" %>">Property Listing</a>
            <a href="<%= property_types_path %>" class="dropdown-item <%= current_page?(property_types_path) ? "active" : "" %>">Property Types</a>
            <a href="<%= our_agents_path %>" class="dropdown-item <%= current_page?(our_agents_path) ? "active" : "" %>">Our Agents</a>
          </div>
        </div>
        <a href="<%= contact_path %>" class="nav-item nav-link <%= current_page?(contact_path) ? "active" : "" %>">Contact</a>
      </div>

      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-primary px-3 d-none d-lg-flex", "data-turbo-method": :delete %>
      <% elsif !content_for?(:devise) %>
        <%=
          link_to(
            "Sign in",
            (Rails.env.development? ? bypass_sign_in_path : new_user_session_path),
            "data-turbo-method": Rails.env.development? ? :post : :get,
            class: "btn btn-primary px-3 d-none d-lg-flex"
          )
        %>
      <% end %>
    </div>
  </nav>
</div>
