<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay="0.1s">
        <a class="cat-item d-block bg-light text-center rounded p-3" href="<%= new_apartment_path %>">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="<%= asset_path "icon-apartment.png" %>" alt="Icon">
            </div>
            <h6>Add Apartment</h6>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
        <a class="cat-item d-block bg-light text-center rounded p-3" href="<%= new_villa_path %>">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="<%= asset_path "icon-villa.png" %>" alt="Icon">
            </div>
            <h6>Add Villa</h6>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
        <a class="cat-item d-block bg-light text-center rounded p-3" href="<%= new_townhouse_path %>">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="<%= asset_path "icon-neighborhood.png" %>" alt="Icon">
            </div>
            <h6>Add Townhouse</h6>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
