<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Maakan Real Estate Agency" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%
      stylesheets = Dir["app/assets/stylesheets/**/**"]
        .map { |path| File.basename(path, ".css") }
      skip_stylesheets = %w(application.bootstrap.scss)
    %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% stylesheets.each do |stylesheet| %>
      <% next if skip_stylesheets.include? stylesheet %>

      <%= stylesheet_link_tag stylesheet %>
    <% end %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type == "notice" ? "success" : "danger" %> alert-dismissible fade show" role="alert">
        <span><%= message %></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
      </div>
    <% end %>

    <div class="container-xxl bg-white p-0" style="min-height: calc(100vh - 250px);">
      <%= render partial: "shared/navbar" %>

      <div class="mt-5">
        <% if content_for?(:devise) %>
          <div class="w-25">
            <%= yield :devise %>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
    </div>

    <%= render partial: "shared/footer" %>

    <a href="#" class="btn btn-lg square btn-primary back-to-top"><i class="bi bi-arrow-up"></i></a>
  </body>
</html>
